/* IE (all versions) */
/* Boilerplate makes it easy to target different versions of IE, such as:
html.ie6 { text-align: center; }
html.ie6 body { text-align: left; }
*/

.lte8 #content {background: #F00;}