/*
	Theme Name: Haven 308
	Theme URI: http://aarontgrogg.com/boilerplate/
	Description: Custom theme for JvH
	Author: Stijn Dekker
	Author URI: http://stijndekker.nl/
	Version: 0.2
	Tags: custom

	License: GNU General Public License v2.0
	License URI: http://www.gnu.org/licenses/gpl-2.0.html

*/

/*
 * HTML5 Boilerplate
 * Detailed information about this CSS: h5bp.com/css
 */
 

/*= HTML5 elements
----------------------------------------------------------------------------- */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }
figure { margin: 0; }

/*= Base
----------------------------------------------------------------------------- */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { 
        margin: 0;
        font-size: 1em; line-height: 1.4; 
        background: #DFB248; 
        color: #333; 
        border-top: 8px solid #222; 
        font-family: Georgia, Times, 'Times New Roman', Serif;
   }

::-moz-selection { background: #ff0;  color: #333; text-shadow: none; }
::selection { background: #ff0;  color: #333; text-shadow: none; }



/*= Links
----------------------------------------------------------------------------- */

a { color: #333; text-decoration: none; }
a:visited { color: #333; }
a:hover { color: #d30; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/*= Typography
----------------------------------------------------------------------------- */

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

/*= Lists
----------------------------------------------------------------------------- */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/*= Embedded content
----------------------------------------------------------------------------- */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }

/*= Forms
----------------------------------------------------------------------------- */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; 
}
button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; max-width: 100%; border: 1px solid #333; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/*= Tables
----------------------------------------------------------------------------- */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; border: 1px dotted #DFB248; padding: 1em;  }

/*= Chrome Frame
----------------------------------------------------------------------------- */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

/*===[ Primary styles - 320 and up ]==============================================================================
  
    Author: Stijn Dekker
   
	We are building this site '320 and up'. so basic styles should fit small mobile devices.
	Wider screens (and IE support) come later.
	
==================================================================================================================*/
 
/* Basic structure */ 
#site-header { color: rgb(85,85,85); background: #FFF9DE; overflow: hidden; border-top: 8px solid #DFB248;  }
#branding {width: 320px; margin: .9em auto;}
#access { margin: 0 auto; border-bottom: 1px dashed #DFB248; border-top: 1px dashed #DFB248;}
#filler {background: #FFF9DE; overflow: hidden; padding-bottom: 3.6em; }
#positioning {width: 320px; margin: 0 auto; padding: 1.4em 0; }
#primary { overflow: hidden; width: 100%; padding: 0; margin: 0 auto;}
#secondary {overflow: hidden;}

#site-logo {background: url(images/logo/groep_320.png) no-repeat; height: 72px; width: 300px; background-size: 100%;  margin: 0 auto;}
#site-logo a {display:block; width: 320px; height: 150px; background: transparent;}
#branding .site-name, #branding .site-description {display: none;}
article {line-height: 1.6; font-size: .98em;}

#skip {display: none;}

#site-footer {border-top: .6em solid #222; text-align: center; padding:4em 0;  }
#site-footer .copyright {
	font-family: Arvo, Georgia, Serif; 
	font-size: .8em; 
	margin: 0; 
	text-align: center;
	color: #fff; 
	text-shadow: 1px 1px 0 #a88; 
	font-style: normal;
	padding-bottom: 7em;
	background: url('images/scouting-world.png') no-repeat bottom center;
}
#site-footer  a, #site-footer  a:visited {display: block; color: #fff; }
#site-footer .copyright .site-name { font-weight: bold;}
#site-footer .scouting-world { height: 72px; width: 64px; margin: 1.4em auto;  }

/* Layout inside posts and pages */
.entry-title {font-family: Bevan; font-weight: normal;  margin: .2em 0; font-size: 1.9em; color: #d30; line-height: 1;}
.entry-title a, .entry-title a:visited {color: #d30; }
.entry-content a, .entry-content a:visited {border-bottom: 2px dotted #DFB248; padding: .1em 0; color: #333;}
.entry-content a:hover {color: #333; border-color: #fff; background: #ff5; }
.entry-meta, .entry-utility { color: #DFB248; font-family: Arvo, Georgia, Serif; margin: 0; font-size: 1em; font-weight: bold; }
.entry-meta a, .entry-meta a:visited,
.entry-utility a, .entry-utility a:visited {color: #DFB248; }
.more-link:visited {color: #d30;}

article .more-link {color: #d30; font-family: Arvo, Georgia, Serif; border: none; font-weight: bold;}
article a:visited.more-link {color: #d30; }
article .entry-meta {padding: .4em .4em 0 .4em;}

article .entry-content {overflow: hidden; margin: -.4em  0 0 0; padding: 0;}

article blockquote {padding: .4em 1.4em; margin: 0; font-size: 1.14em; opacity: .8; font-style: italic; }
article figure.featured {max-width: 100%; overflow: hidden; padding: 10px; background: #fff; border: 1px solid #fafafa; margin: .4em .25em; box-shadow: .14em .14em .3em rgba(2,2,2,.1);}
figure img {width: 100%; height: auto;}
article h1, article h2 {font-family: Arvo, Georgia, Serif; font-size: 1.2em; opacity: .8;}

/* Exeptions for articles */
.single article p:first-of-type { font-style: italic; color: #630; }
article p .more-link {padding: 0 .4em;}
.single #primary article, .page #primary article {border: none;}

#primary article {margin-bottom: 4%; float: left; margin: 0 0 .4em 0; padding: 0 1em; border-bottom: 1px dashed #DFB248;  color: #420;}
#primary .news-short { padding: 0 4% 0 0; float: left;}
#primary article strong {font-family: Arvo, Georgia, Serif; font-weight: bold; }


/* Navigation - access menu */
#access {padding: 0;}
#access .menu, 
#access .menu-header {margin: 0 auto; width: 320px; padding: .4em; }
#access ul {overflow: hidden; margin: 0;  list-style: none; font-family: Arvo, Georgia, Serif; font-weight: bold; color: #DFB248; padding: 0;}
#access li {float: left; display: block; padding: 0;  }
#access li a {padding: .1em .4em; color: #DFB248;  display: block; border-radius: .4em; letter-spacing: 1px; font-weight: bold;}
#access .current_page_item a,
#access .current_page_item a:visited {color: #e2d7bc;}
#access .current_page_item li a,
#access .current_page_item li a:visited {color: #fff;}

#access a:hover {color: #fff !important; background: #d30 !important; text-shadow: 1px 1px 0 rgba(2,2,2,.2);}
#access li ul {float: left; overflow: hidden; position: absolute; margin: 0; padding: 0;  z-index: 3000; background: transparent; display: none;}
.ie #access li ul { background: #FFF9DE;  }
#access li li {display: inline; float: none; clear: both; font-size: .9em; padding: 0; }
#access li li a {margin: 2px; padding: .4em .6em; background: #DFB248; border: 2px solid #BCA248; color: #fff; box-shadow: 2px 2px .2em rgba(2,2,2,.2); text-shadow: 1px 1px 0 rgba(2,2,2,.2);}
#access li li a:hover {border-color: #b00;}
#access li .current_page_item a,
#access li .current_page_item a:visited {background: #e2d7bc; border-color: #d1c6ab; color: #fff;}
#access li .current_page_item a:hover { border-color: #c20;}

#branding h1 {font-family: 'Bevan'; font-weight: normal; font-size: 1.9em; color: #d30; padding: 0; margin: .4em 0 0 0;}
#branding h1 a { color: #d30; }

button, input[type="button"], 
input[type="reset"], 
input[type="submit"] { 
    
    background: #e50000; /* Old browsers */
    background: -moz-linear-gradient(top, #e50000 0%, #f70000 5%, #ba0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e50000), color-stop(5%,#f70000), color-stop(100%,#ba0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e50000 0%,#f70000 5%,#ba0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e50000 0%,#f70000 5%,#ba0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e50000 0%,#f70000 5%,#ba0000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #e50000 0%,#f70000 5%,#ba0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e50000', endColorstr='#ba0000',GradientType=0 ); /* IE6-9 */

    border: none;

	box-shadow: 4px 4px 0 rgba(2,2,2,.1); 
    text-shadow: -1px -1px 0 #730;
	color: #fff; 
	font-family: Arvo, Georgia, Serif; 
	font-size: .9em; 
	padding: .4em;

}

button, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	
	background: #333;
	border-color: #111;

}

/* Widgets */
.widget-title {font-family: Arvo, Georgia, Serif; font-weight: bold; font-size: .9em; border-bottom: 1px dashed #DFB248; padding: .4em; color: #d30;}

.widget_search {overflow: hidden;}
.widget_search label {display: none; }
.widget_search input { float: left; padding: .4em;}
.widget_search #s { width: 55%; border: 1px solid #DFB248; }
.widget_search #s:focus {border-color: #d30; box-shadow: none; color:#333;} 
.widget_search #searchsubmit { width: 30%; padding: .62em; margin-left: 4%; font-size: .8em;}

/* Events widget */
#secondary .eo-events-widget { padding: 0; margin: 0; list-style: none;}
#secondary .eo-events-widget li { padding: .9em .9em; font-size: .74em; margin: .1em 0;}
#secondary .eo-events-widget li:nth-of-type(odd) {background: #fff; } 

/* Comments */
#comments {padding: 0; margin: 0;  }
#comments h3 {font-family: Arvo, Georgia, Serif; color: #d30; font-size: 1.1em; font-weight: normal; border-bottom: 2px dotted #DFB248;}
#comments ol {padding: 0;}
#comments ul {margin: 0; padding: 1.4em;}
#comments li {display: block; margin: 0; padding: 0;}
#comments article {width: 100%;  font-family: Helvetica, Arial, Sans-serif; font-size: .8em; border-bottom: 1px dotted #DFB248!important; padding: .4em;}
#comments .reply {position: absolute; display: none; background: #f00; margin: -1em;}
#comments .comment-author {background: #f8efc6; border-right: 2px solid #DFB248; float: left; padding: 1.4em; color: #d30; margin-right: 1.4em; border-radius: .4em 0 0 .4em ;}
#comments .comment-meta  {font-family: Arvo, Georgia, Serif; font-size: .8em; text-transform: uppercase;}

.archive #primary  {width: 100%;}
.archive #primary article {font-size: .8em; padding: 1.4em; }
.archive #primary article footer {display: none; }

#primary nav {width: 100%; overflow: hidden; font-family: Arvo, Georgia, Serif; font-size: .7em; font-weight: bold; text-transform: uppercase; }
#primary nav .ni {width: 50%; float: left; overflow: hidden; }
#primary nav .ni a {display: block; padding: .4em; float: left; color: #d20; text-shadow: -1px -1px 0 #fff;}
#primary nav .ni a:hover {background: #d20;  color: #fff; text-shadow: none;}
#primary nav .previous-posts {text-align: center;}
#primary nav .previous-posts a {text-align: center; float: right;}

#primary #nav-below { padding: 0 0 0 0; font-size: .8em; width: 100%; }
#nav-below a { display: block;  width: 98%; }
#nav-below .next-posts a {text-align: left;}

#nav-above {display: none;}
.paged #nav-above {display: block;}

.alignleft { float: left; margin: 0 .8em .4em 0; }
.alignright { float: right; margin: 0 0 .4em 1.1em;}
.alignright img {padding: 0; margin: 0;}

#commentform label {width: 70px; overflow: hidden;  display: block; float: left;}
#respond {border-top: 1px dashed #DFB248; margin-top: 1em; }

/* Forms and buttons */
#primary form {max-width: 55%; margin: 0 auto;}
#primary form label {font-weight: bold;}
#primary input[type="text"], 
#primary input[type="email"],
#primary textarea {width: 100%; border-radius: .4em; border: 1px solid #ccc; padding: .4em; box-shadow: inset 1px 1px .2em #ddd; margin: .1em 0;}
#primary textarea {padding: .9em .9em; width: 96%;}

#primary input[type="text"]:hover, 
#primary input[type="email"]:hover,
#primary textarea:hover {box-shadow: none;}

#primary form label {color: #33; font-family: Arvo, Georgia, Serif; font-size: .8em;} 
#primary input[type="submit"] {font-size: 1.2em; border-radius: .3em; width: 40%; margin: 0 auto; display: block;}
#primary #commentform #submit {width: 60%;}

#commentform .form-allowed-tags {display: none;}

#secondary .ngg_images .widget-title {display: none;}
#secondary .ngg_images a {display: block; border: none; padding: .6em; background: #fff; margin-bottom: .6em; border: 1px solid #eee; border-radius: 2px;}
#secondary .ngg_images img {display: block; border: none; width: 100%; height: auto;  padding: 0;}
#secondary .ngg_images a:hover img { opacity: .8; }

.home #primary article {padding: 0 0 .9em 0; margin: 0 0 .9em 0; }

.entry-content .wp-caption{background: #fff; font-size: .7em; border: 1px solid #ddd; color: #aaa; padding: 0; }
.entry-content .wp-caption-text{ padding: .4em 1em;}
.entry-content .wp-caption img {width: 100%; height: auto;}
.home #primary #nav-below {border: none;}

article h3 {font-family: Arvo, Georgia, Serif; color: #d30; font-weight: normal;  margin: 0; padding: .4em 0 0 0; line-height: 1;}
#primary article .ngg-slideshow {width: 88% !important; background: #eda; margin: 1.98em auto; box-shadow: 1px 1px 1.4em #eda;}
#primary article .ngg-slideshow img { width: 100% !important; height: auto !important; }

#secondary h3 {font-family: Arvo, Georgia, Serif; font-size: 1em;}

/* Image sizes */
.size-medium {width: 48%; height: auto; margin: 0; }
.size-medium:nth-of-type(1) {margin-right:3%;}

/* Agenda */
#primary.agenda .page-header {margin-bottom: 1em;}
#primary.agenda {padding-bottom: 1em;}
#primary.agenda article {background: #fff; padding: 1.4em; min-height: 100px; 
border-bottom: 1px dashed #ddd; border-left: 1px dashed #ddd; margin: 0;}

#primary.agenda article h1 {font-size: 1.3em;}
#primary.agenda article h1 a {color: #333; text-shadow: 1px 1px #ddd;}
#primary.agenda article .entry-meta {font-size: 1.2em;}


.page article {width: 100%; }
.page article .ngg-albumoverview {float: left; width: 120px; height: 220px; overflow: hidden; clear: none; padding: 0 1em; }
.page article .ngg-album-desc {color: #d30; border-bottom: 0;}

.ngg-imagebrowser img {max-width: auto !important; min-width: auto!important; width: auto !important; margin: 0 auto; background: #fff; }

/*-Multiblog Ajustments (speltakken)------------------------------------------------------------------------------- */*/

/* 11: Bevers - Explorers */
.blogid-11, .blogid-16 {border-color: #CF222A; background: #D91E24;}
.blogid-11 #site-header, .blogid-16 #site-header {border-color: #D91E24}

/* 12: Welpen */
.blogid-12, .blogid-13 {border-color: #079C42; background: #079C42; }
.blogid-12 #site-header, .blogid-13 #site-header {border-color: #00B44A; }
.blogid-12 .entry-title, .blogid-13 .entry-title,
.blogid-12 .entry-title a, .blogid-12 .entry-title a:visited,
.blogid-13 .entry-title a, .blogid-13 .entry-title a:visited {color: #079C42;}
.blogid-12 #access a:hover, .blogid-13 #access a:hover {background-color: #079C42 !important; border-color: #00B44A !important; }
.blogid-12 article .more-link, .blogid-13 article .more-link {color: #079C42;}

/* 14 and 15: Verkenners - Gidsen */
.blogid-14, .blogid-15 {border-color: #DEAD3D; }
.blogid-14 #site-header, .blogid-15 #site-header {border-color: #E8BA51}

/* Vrienden van Jan */
.blogid-18 {border-color: #084292; }
.blogid-18 #site-header {border-color: #0059CC; }
.blogid-18 .entry-title
.blogid-18 .entry-title a
.blogid-18 .entry-title a:visited {color: #084292;}
.blogid-18 #access a:hover{background-color: #084292; !important; }

/*----------------------------------------------------------------------------------------------------------------- */

/*===[ Media: Tablet, Small screen ]================================================================================*/

@media only screen and (min-width: 768px) {

    #branding {width: 768px;  padding: 1em; margin: 0 auto;}
    #positioning { width: 768px; }
    #access { background: transparent url(images/border-stitched.png) repeat-x; border: none; }
    #access .menu, 
    #access .menu-header {width: 768px; padding: .6em 0 .4em 0; }
    #access .menu li a,
    #access .menu-header li a {padding: .4em .9em; }   
    #filler { background: #FFF9DE url(images/border-stitched.png) repeat-x; border: none; }
    
    #site-logo { 	background-image: url(images/logo/groep_479.png); 
					background-repeat: no-repeat; 
					background-position:center left; 
					height: 122px; 
					width: 484px;
					margin: 0; 
					background-position: center left;
				}
    #site-logo a {display:block; width: 678px; height: 150px; background: transparent;}
 
    /* Speltaklogo's */
   .blogid-1 #site-logo {background-size: 100%;}
   .blogid-11 #site-logo {background-image: url(images/logo/bevers_479.png); background-size: auto;}
   .blogid-12 #site-logo {background-image: url(images/logo/welpen_jongens_479.png); background-size: auto;}
   .blogid-13 #site-logo {background-image: url(images/logo/welpen_meisjes_479.png); background-size: auto;}
   .blogid-14 #site-logo {background-image: url(images/logo/verkenners_h110.png); background-size: auto; width: 621px;}
   .blogid-15 #site-logo {background-image: url(images/logo/gidsen_479.png); background-size: auto;}
   .blogid-16 #site-logo {background-image: url(images/logo/explorers_479.png); background-size: auto;}
   .blogid-18 #site-logo {background-image: url(images/logo/vrienden_479.png); background-size: auto;}
   
    #primary {margin-right: 1.4em; width: 548px; float: left;}
    #primary article {padding: 0 .4em 0 1.4em;}
    #secondary {width: 195px; font-size: .9em;}
    #secondary .widget-container { float: left; margin: 1.5%;}
    #tertiary {overflow: hidden;}
    #tertiary .widget-container {float: left; width: 30%;}
    
    #secondary .widget-title { background: transparent url(images/border-stitched-small.png) repeat-x bottom; border: none; padding: .9em .4em; margin-bottom: .9em; }
    #primary article { background: transparent url(images/border-stitched.png) repeat-x bottom; border: none;}
    .single #primary, .page #primary {margin: 0 auto; float: none; width: 768px;}

    .single #primary .entry-title, .page #primary .entry-title {
        font-size: 2.3rem; 
    }
	
	#primary article .ngg-slideshow { height: 420px !important; }
	#primary article .ngg-slideshow-loader {display: none;}
	
	article.news-short { width: 48%; font-size: .9em; line-height: 1.6; }
	.ie7 article.news-short {width: 100%!important;}
	
    .page-template-template-sidebar-page-php #primary {width: 548px; float: left; margin-right: 1.4em;}
    
}

/*===[ Media: Desktop, regular screen ]=============================================================================*/

@media only screen and (min-width: 1024px) {
  
    #branding {width: 958px; }
    #positioning {width: 958px; }
    #primary { width: 678px; margin-right: 41px; }
    #access .menu, #access .menu-header {width: 958px;}
    #site-logo {width: 479px; height: 123px; }
    #secondary .widget-container {width: 100%; margin: 0; float: none; }
    #secondary {width: 239px;}
    
    .single #primary, .page #primary {margin: 0 auto; float: none; }
    .single #primary { width: 768px; }
    .page #primary, .search #primary {width: 958px;}
    .page-template-template-sidebar-page-php #primary {width: 678px; float: left; margin-right: 1.4em;}
    #site-footer .site-name {font-size: 1.4em;}
    .archive #primary article {width: 21%; float: left;}
    #primary article {padding: 0;}

          
     #primary article .collumn {overflow: hidden; float: left; width: 45%; padding: 0 5% 0 0;}
     #primary article .collumn.third {width: 28%;}
    .collumn h3:first-child { padding: 0;}  

    /* Jan van Hoof voorpagina menu */
    .blogid-1 #access .menu a {letter-spacing: 2px; font-size: 1em; font-weight: bold; padding: .4em .9em;}
    
    /* Local overrides - af en toe opruimen aub.*/
    .post-901.news-full .entry-title {font-size: 2.8em;}

    .home article:first-of-type .entry-title {font-size: 3.3em;}
   #site-logo { background-size: 100% !important; }
    
}

/*===[ Media: Print ]===============================================================================================*/

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}